html,
body {
    background: url("../img/pattern.jpg") center center;
    font-size: 16px;
    font-family: "Cubano-Regular", "Arial Black";
    max-width: 100%;
}

/* Colors 
    rgba(19, 128, 36, 1);
*/

/* Font Faces */
.col-md-5{
    margin-left: -210px;
    font-size: 250px;
}

@font-face {
    font-family: "Cubano-Regular";
    src: local("Cubano-regular.otf"), url("fonts/Cubano-regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito-Regular";
    src: local("Nunito-Regular.ttf"), url("fonts/Nunito-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* Buttons */

.btn-lg,
.btn-outline-success {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(19, 128, 26, 1);
    font-family: "Nunito-Regular";
    transition: 0.3s;
}

.btn-lg:hover,
.btn-lg:focus,
.btn-lg:active,
.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active {
    background-color: rgba(19, 128, 36, 0.5);
    border: 1px solid rgba(19, 128, 26, 0);
    transition: 0.3s;
}

.parallax-btn {
    width: 200px;
    margin: 30px auto 0 auto;
}

/* Navigation */

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus {
    font-family: "Cubano-Regular", "Arial Black";
}

#main-nav {
	font-family: "Nunito-Regular";
}
#main-nav li a {
    border-bottom: 1px solid transparent;
    transition: 0.3s;
}
#main-nav li a:hover,
#main-nav li a:active {
    border-bottom: 1px solid rgb(2, 175, 39);
    color: white;
    transition: 0.3s;
}

/* Cover section */

#cover {
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(../img/3dl.webp);
    background-size: cover;
    background-position: center;
    color: white;
}
#cover1{
    background-color: rgba(0, 0, 0, 0.527);
}

.cover-content {
    margin: auto 0;
}

.wall-sticker {
    background: rgba(0, 0, 0, 0.4); /* press ctrl-e to open color picker */
    font-family: "Cubano-regular", "Arial Black";
    height: 100vh;
    text-align: center;
}

.wall-sticker-content {
    padding-top: 45%;
}

.moto-content {
    margin-top:45%;
}
.btn-primary {
    margin-bottom: 500px;
}
.col-md-6{
    margin-left: 54px;
    margin-top: 80px;
}
.lead{
    margin-left: -25px;
    margin-top: 120px;
}
.wall-sticker .lead {
    font-size: 62px;
    display: inline-block;
    text-align: left;
}

.moto {
    font-family: "Cubano-regular", "Arial Black";
    font-size: 3rem;
    text-align: center;
}

.arrow-down-content {
    text-align: center;
}

.fa-arrow-down {
    font-size: 2.5rem;
    color: white;
    transition: 0.3s;
}

.fa-arrow-down:hover {
    color: rgba(19, 128, 36, 0.5);
    transition: 0.3s;
}

.bold-green {
    font-weight: bold;
    color: rgba(19, 128, 36, 1);
}

.green-underline {
    text-decoration: underline;
    text-decoration-color: rgba(19, 128, 36, 1);
}

/* Features section */


.section-feature {
    padding: 5rem 0;
    background: url("../img/pattern.jpg") center center;
}

.heading,
.under-heading {
    text-align: center;
}

.square i {
    display: block;
	text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
    transition: 0.3s;
}

.square i:hover {
    color: rgba(19, 128, 36, 1);
    transition: 0.3s;
}

.square p {
    padding-top:  1rem;
    font-family: "Nunito-Regular";
    font-size: 1.2rem;
}

.green-hr {
	border-top: 1px solid rgba(19, 128, 36, 1);
    width: 150px;
    background-color: rgba(19, 128, 36, 1);
}

/* Section Timeline */
.section-timeline {
    background-color: white;
    padding-top: 5rem;
}

.timeline {
    list-style: none;
    padding: 20px 0 80px;
    padding-top: 50px;
    position: relative;
}
    
.timeline:before {   /* GREY LINE */
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: lightgrey;
    left: 50%;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: "";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 50%;
    float: left;
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline p {
    font-family: 'Nunito-Regular';
    font-weight: 700;
}


.timeline > li:not(.timeline-inverted) {
    padding-right: 90px;
}

.timeline > li.timeline-inverted {
    padding-left: 90px;
}

.timeline > li > .timeline-badge {
    font-size: 1rem !important;
    color: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: rgba(19, 128, 26, 1);
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.fa.fa-clock-o {
    padding-right: 3px;
}

/* Section Parallax */

.section-parallax {
    text-align: center;
    background: url(../img/trees.jpg) center repeat fixed;
    padding: 7rem 0;
    background-size: cover;
    color: white;
}

/* Section Products */

.section-cards {
    padding: 5rem 0;
}

.card {
    margin-top: 3rem;
}

.card-title {
    height: 3rem;
}

.card a {
    color: rgba(19, 128, 36, .80);
}
.card a:hover {
    color: rgba(19, 128, 36, 1);
}

.card img {
    width: 100%;
    transition: .3s;
}

.card img:hover {
    transform: scale(0.98);
    transition: .3s;
}

/* Section Numbers */

.section-numbers {
    background-color: white;
    padding: 5rem;
}

.num {
    height: 140px;
    width: 140px;
    background-color: rgba(19, 128, 36, .90);
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.num-content {
    position: relative;
    font-size: 18px;
    line-height: 20px;
    color: white;
    text-align: center;
    vertical-align: middle;
    top: 20%;
    transition: 0.3s;
}

.num-content:hover {
    color: black;
    transition: 0.3s;
}
.num-content1 {
    position: relative;
    font-size: 17px;
    line-height: 20px;
    color: white;
    text-align: center;
    vertical-align: middle;
    top: 16%;
    transition: 0.3s;
}

.num-content1:hover {
    color: black;
    transition: 0.3s;
}


/* Section Testimonials */

.section-testimonials {
	padding-top: 5rem;
}

.testimonial {
	margin-top: 5rem;
    padding-bottom: 5rem;
}

.testimonial-img {
	width: 100%;
    height: auto;
    border-radius: 50%;
	transition: 0.3s;
}
.testimonial-img:hover {
	transition: 0.3s;
    transform: scale(0.95);
}


.testimonial > div:first-child {
	padding: 0;
}

blockquote {
    font-family: 'Nunito-Regular';
}

blockquote > cite {
    font-size: 12px;
}

.fa.fa-quote-right {
    margin-right: 10px;
}

.testimonials-hr {
    border-top: 1px solid rgba(19, 128, 36, 1);
    background-color: rgba(19, 128, 36, 1);
}

/* Section Contact */

.section-contact {
	background-color: white;
    padding: 5rem 0;
}

.section-contact .heading {
	margin-bottom: 5rem;
}

.section-contact textarea:focus,
.section-contact input:focus {
    border-color: rgba(19, 128, 36, .60) !important;
    box-shadow: 0 2px 3px rgba(0,0,0,0.075) inset, 0 0 1px rgba(231, 76, 60, 0.05) !important;
    transition: 0.3s;
}

.section-contact .btn.btn-success {
	background-color: rgba(19, 128, 36, 1);
    border: 1px solid rgba(19, 128, 36, 1);
    border-radius: 5px;
    font-size: 20px;
}

.section-contact .btn.btn-success:hover {
    background-color: rgba(19, 128, 36, 0.8);
    border: 1px solid rgba(19, 128, 36, 1);
    transition: 0.3s;
}

/* Footer */

footer {
    background-color: #222;
    padding: 30px 0;
    position: relative;
    text-align: center;
}

.social-links a:link,
.social-links a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    font-size: 24px;
    transition: 0.2s;
}

.fa-facebook-square:hover {
    color: #3b5989;
}

.fa-twitter-square:hover {
    color: #00aced;
}

.fa-google-plus-square:hover {
    color: #dd4b39;
}

.fa-instagram:hover {
    color: #517fa4;
}

.fa-facebook-square,
.fa-twitter-square,
.fa-google-plus-square,
.fa-instagram {
    transition: 0.2s;
}

footer span {
    color: #888;
    text-align: center;
    font-size: 18px;
    line-height: 48px;
    vertical-align: center;
}

.footer .fa-chevron-circle-up {
    color: rgb(19, 128, 36);
    transition: 0.2s;
}
.footer .fa-chevron-circle-up:hover {
    color: rgba(19, 128, 36, 0.60);
    transition: 0.2s;
}

/* Responsiveness */

@media only screen and (max-height: 800px) {
    .wall-sticker-content {
        padding-top: 20%;
    }

    .moto-content {
        margin-top:20%;
    }
    
    .section-feature,
    .section-cards,
    .section-contact{
        padding: 3rem 0;
    }
    
    .section-timeline {
        padding-top: 3rem;
    }
    
    .section-parallax {
        padding: 5rem 0;
    }
    
    .section-numbers {
        padding: 3rem 0;
    }
    
    .num {
        margin-top: 3rem;
    }
}

@media only screen and (max-width: 1155px) {
    .wall-sticker-content .lead {
        font-size: 12px;
    }
    .moto {
	    font-size: 2.75rem;
    }
    .navbar {
        font-size: 14px;
    }
}

@media only screen and (max-width: 959px) {
    /* Animations off */
    
    * {
         -webkit-animation: none !important;
         -moz-animation: none !important;
         -o-animation: none !important;
         -ms-animation: none !important;
         animation: none !important;
    }
    
    /* Cover */
    
    .wall-sticker-content .lead {
        font-size: 10px;
    }
    .moto {
	    font-size: 2rem;
    }
    
    .wp-animated {
        opacity: 1 !important;
    }
    
    /* Products */
    .square i {
        margin-top: 2rem;
    }
    /* Timeline */
    
    .timeline:before {   /* GREY LINE */
        left: 0%;
    }
    
    .timeline > li > .timeline-badge {
        left: 0%;
    }
    
    .timeline > li.timeline-inverted > .timeline-panel {
        float: left;
    }
    
    .timeline > li {
        padding-left: 90px;
    }
    
    .timeline > li:not(.timeline-inverted) {
        padding-right: 0px;
    }
    
    .timeline > li > .timeline-panel {
        width: 100%;
    }
    
    /* Numbers */
    
    .section-numbers {
        padding: 5rem 1rem;
    }
    
    .num {
        width: 125px;
        height: 125px;
    }
    
    /* Testimonials */
    
    .testimonial {
        margin-top: 2rem;
        padding-bottom: 1rem;
    }
    
    /* footer */
    
    footer span {
        font-size: 18px;
        line-height: 12px;
    }
}


@media only screen and (max-width : 767px) {
    
    .moto {
	    display:none;
    }
    
    .fa-arrow-down {
	    display: none;
    }
    
    /* Cover */
    .wall-sticker {
        padding: 5rem;
        margin-top: 5vh;
        height: 90vh;
    }
    
    .wall-sticker-content .lead {
        font-size:07px;
    }
    
    /* Timeline */
    .section-timeline {
        padding-top: 3rem;
    }
    
    .timeline:before {   /* GREY LINE */
        left: 7%;
    }
    
    .timeline > li > .timeline-badge {
        left: 7%;
    }
    
    .timeline > li,
    .timeline > li.timeline-inverted {
        padding-left: 60px;
    }
    
    /* Features */
    .section-feature {
        padding: 3rem 0;
    }
    
    /* Products */
    .section-cards {
        padding: 3rem 0;
    }
    
    /* Numbers */
    .section-numbers {
        padding: 3rem 1rem;
    }
    
    .num {
        width: 125px;
        height: 125px;
    }
    
    /* Testimonials */
    .section-testimonials {
        padding-top: 3rem;
    }
    
    .testimonial-img {
        width: 60%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 1rem;
    }
    
    .testimonial {
        margin-top: 0rem;
    }
    
    /* Contact */
    .section-contact {
        padding: 3rem 0;
    }
    .section-contact .heading {
        margin-bottom: 1rem;
    }
    
    /* Footer */
    .social-links {
        margin: 1rem 0;
    }
}